<h2>Update your trip!</h2>

<%= render partial: 'form', locals: {trip: @trip} %><br><br><br><br>

<button class="delete-trip-btn"><%= link_to("Delete Trip", "/trips/#{@trip.id}", method: "delete") %></button>
