<br>
<div class="container" style="text-align:center";>
<%= button_to "Create new trip", "/trips/new", :class => "button", :method => :get %><br>
<br>
<% @trips.each do |trip| %>
  <% if trip.start_date != nil && trip.end_date != nil && trip.start_date > DateTime.now.to_date %>
  <strong><%= trip.title %></strong><br>


  <% if trip.budget != nil %>
  Budget: $<%= trip.budget %><br>
  <% end %>

<%= trip.days_til_trip %> days until your trip<br>
<br>
<% end %>
<% end %>
</div>