<h3>Browse Trips</h3>
<% @trips.each do |trip| %>
  <% if trip.start_date != nil && trip.end_date != nil && trip.start_date > DateTime.now.to_date %>
  <button class="trip-btn"><%= link_to "#{trip.title} - #{trip.user.first_name}", trip_path(trip) %></button><br>
  <% end %>
<% end %>
