$dark:  #333030;
$ocean:  #2b90d9;
$grass: #3ac569;
$snow: #FFFFFF;
$salmon: #ff7473;
$sun: #feee7d;
$alge: #79a8a9;
$flower: #353866;
$fire: #990000;


.glyphicon {
  padding: 8px;
  color: black !important;
}


.navbar {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
  z-index: 1030;
  box-shadow: rgba(74, 74, 74, 0.2) 0px 2px 2px 0px;
  height: 70px !important;
  padding: 10px 10px;
}

.navbar-default {
  background: white !important;
}

#blue a {
  color: $fire !important; 
  font-weight: 700;
}


.navbar-brand {
  color: black !important;
  font-size: 20px !important;
}

.navbar-right > li > a {
  color: black !important;
  padding: 4px;
}

.email-trip-btn {
  background: $grass;
  color: $snow;
  border: none;
  background: white !important;
}

.container {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  padding: 15px 15px;
  margin-top: 80px;
}

li {
  list-style: none;
}

th {
  padding: 5px;
}

td {
  padding: 2px 10px;
}


h3 {
  color: $grass
}

.new-trip-btn {
  background: $snow;
  font-size: 20px;
  color: black; 
  border: none;
}

.activities-by-destination {
  height: 400px;
  width: 300px;
  overflow: scroll;
  padding: 5px 10px;
  margin: 2px;
  float: left;
  border-radius: 8px;
  display: inline-block;
  border: 2px;

}

form {
  display: inline;
}

.trip-btn {
  font-weight: 700;
  background: $sun;
  font-size: 15px;
  color: black;
  padding: 15px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
}

.trip-btn a {
    color: black !important;
}

.add-activity-btn {
  color: $salmon;
  background: $snow;
  border: none;
}

.activities-by-destination ul {
    margin-left: -45px;
    }

.add-destination-btn {
  font-weight: 700;
  background: $salmon;
  font-size: 15px;
  padding: 10px 15px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
  display: inline;
  color: $snow;
}

.add-destination-btn a {
  color: $snow !important;
}

.remove-destination-btn{
  font-weight: 700;
  background: $alge;
  font-size: 15px;
  padding: 5px 10px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
  display: inline;
  color: $fire;
}

.remove-activity-btn{
  font-weight: 700;
  background: $alge;
  font-size: 15px;
  padding: 5px 10px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
  display: inline;
  color: $fire;
}

a {
  text-decoration: none;
  color: black;
}

.trip-btn a{
  color: $ocean;
}

.edit-trip-btn{
  font-weight: 700;
  background: $sun;
  font-size: 15px;
  color: $ocean;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  
}

.submit-trip-btn{
  font-weight: 700;
  background: $sun;
  font-size: 15px;
  color: $ocean;
  padding: 15px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
}

.delete-trip-btn{
  font-weight: 700;
  background: $alge;
  font-size: 15px;
  padding: 15px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 5px;
  display: inline;
  color: $fire;
}


h1 {
  font-size: 200px !important;

}
